@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_kcjc1z9
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_skl63m7
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=rsVn6HVhOpBzFw-Ct */
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&family=Noto+Serif&family=Sevillana&display=swap');
* {
    font-family: "Kreon", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.about-heading {
  font-size: 2rem;
  font-weight: 700;
}