@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&family=Noto+Serif&family=Sevillana&display=swap');
* {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#about {
  padding: 4rem 8rem;
}

.about-heading {
  font-size: 2rem;
  font-weight: 700;
}